@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

/*기본*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "IBM Plex Sans KR", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(
    190deg,
    #fff 29.96%,
    #ebf5ff 59.89%,
    #ffffff59 96.86%
  );
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*header*/
#header_icon_back {
  margin: 0px;
  /* margin-right: 9%; */
  /* margin-left: 6%; */
  font-size: small;
  color: #c5986b;
  box-sizing: border-box;
}
.main_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*navigation*/
.main_nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  height: 9%;
  bottom: 12px;
  background: #ffffffbd;
}
.Nav_btn {
  background: none;
}
.Nav_btn_clicked {
  background: #b9d8ff73;
  border-radius: 10px;
  filter: drop-shadow(3px 5px 14px lightgray);
}
/*main page*/
#contentBoxContainer_1,
#contentBoxContainer_2 {
  display: flex;
  justify-content: center;
}

/*main page - button*/
#ctn_1_btn {
  width: 46%;
  height: 90%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #f2f7ff;
  color: #0063f8;
  font-family: "IBM Plex Sans KR";
  font-size: 14px;
  font-style: normal;

  line-height: normal;
}
#ctn_1_btn:hover {
  background: #06f;
  color: white;
}
#ctn_2_btn {
  width: 45%;
  height: 36px;
  font-family: "IBM Plex Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 18px;
  background: #06f;
  color: white;
  box-shadow: 0px 34px 86px 0px rgba(1, 0, 60, 0.25);
}
#ctn_2_btn:hover {
  background: #ffffff;
  color: #0063f8;
}
/*my page*/
#mypage_contentBox_1 {
  height: 21%;
}
#mypage_contentBox_2 {
  height: 68%;
}
#mypage_nickname {
  height: 94%;
  /* background: white; */
  font-size: 17px;
  box-sizing: border-box;
  padding-left: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 0px;
  justify-content: start;
  margin-top: 8%;
}
#mypage_content {
  width: 99%;
  margin: 0px;
  background: transparent;
  justify-content: start;
  box-sizing: border-box;
  padding-left: 9%;
  font-size: 17px;
  margin-top: 6%;
}

/*Container*/
#textContainer {
  color: #545454;
  font-family: "IBM Plex Sans KR";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  padding: 1px;
  width: 92%;
}
#contentContainer {
  box-sizing: border-box;
  height: 4vh;
  padding-left: 13px;
  width: 92%;
}
#btnContainer {
  justify-content: center;
  align-items: center;
  height: 5vh;
}
#PhotoContainer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  height: inherit;
}

#FoodReceipt {
  color: #545454;
  font-family: "IBM Plex Sans KR";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  padding: 5px;
  width: 88%;
  justify-content: center;
  align-items: center;
  height: 91%;
}

.imageClick {
  width: 23px;
  height: 25px;
  border-radius: 26%;
  box-shadow: -2px -2px 17px 1px #689dff;
}

/*input back and forward button*/
#inputBtnBack {
  width: 107px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06f;
  background: #ebf5ff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 5%;
}
#inputBtnNext {
  width: 107px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f7ff;
  background: #0063f8;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 5%;
}

/*login bar button*/
#login_barButton {
  margin-bottom: 21%;
  width: 83%;
}

#chooseFoodCat_Btn {
  width: 86%;
  margin-top: 5%;
  height: 98%;
  font-size: 14pt;
  letter-spacing: 1px;
}
#selected {
  color: #06f;
}
.ReceiptShare_div {
  display: flex;
  justify-content: center;
}

/*recommandinputpage - btn*/
#recommandInputpage_factor {
  height: 55%;
}
#receiptSharepage_cat {
  justify-content: space-evenly;
}

/*tab btn*/
.tab_btn_clicked {
  color: #0063f8;
  border: 2px solid #6ba6ff;
  font-weight: 700;
}
.tab_btn {
  color: #545454;
  border: 1px solid #c8dcff;
}

/*recommandinputpage - slider*/
.rc-slider-rail {
  height: 2px;
}
.rc-slider-handle {
  background-color: #06f;
  border: 0px;
  touch-action: none;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
}
.rc-slider-track,
.rc-slider-tracks {
  background-color: hsla(216, 100%, 49%, 0.327);
}
/*보이거나 없애는 경우 - 맨 마지막 위치할 것 반드시*/
#None {
  display: none;
}

/*food info btn*/
#FoodInfo_Btn {
  width: 84%;
  margin-top: 4%;
  height: 49px;
  font-size: 14pt;
  letter-spacing: 1px;
}
#Search_Btn {
  width: 84px;
  height: 41px;
  color: white;
  background: #0063f8;
}
